@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');

#app>p {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: whitesmoke;
}


/* header */

.blog-header-img {
    border-radius: 8px;
    margin: 8px;
}

header {
    background-color: black;
    clear: both;
}

/* posts page */


.blog-page {
    padding:20px;
    clear: both;
    overflow: auto;
    min-height: 500px;
}

a.post-title-link {
text-decoration: none;
color: #03c7dc;
line-height: 0.2em;
}
a.post-title-link:hover {
    text-decoration: none;
    color: #dd1802;
    }

.postNav {
    margin-right: 5px;
    margin-bottom: 8px;
}

.postNav:last-child {
    margin-right: 0;
}

.quicknavbtn {
    margin-right: 8px;
}

.quicknavcontrol>button {
    margin-right: 5px;
}

.quicknavcontrol>button:last-child {
    margin-right: 0;
}

.quicknavtitle:hover {
    background-color:red;
}


.quicknavpostblock{
margin-top:15px;
padding:25px;
max-width:100%;
border-radius: 15px;
display: block;
}

.activeBtn {
    background-color:mediumspringgreen;
}

.quicknavpostcontainer {
    margin: auto 0;
}

.keywords {
    list-style-type: none;
    display: inline-block;
    margin: auto 0;
}

.keywords>li {
    float:left;
    margin-right: 5px;
}

.keywords>li:last-child {
    
    margin-right: 0px;
}

.favpagelist {
    list-style-type: none;
    display: block;
    max-width: 750px;
    float: left;
    margin-left: 75px;
}

.favpagelist>li {
    padding:10px;
    margin-bottom: 15px;
    border-style: groove;
    border-width: 13px;
    border-color: thistle;
    border-radius: 8px;
    box-shadow: 5px 5px 3px rgba(55,65,75,0.85);
}

.favbtndiv {
    float: right;
}

.favbtn {
    margin: 8px;
}

.allPostsTitle {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 3.9em;
}

.postPageTitle {
    font-size: 2.15em;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}



.blog-post {
    margin-left: 75px;
    margin-bottom: 35px;
    width:85%;
    float: right;
    clear: both;
}

.blog-post-footer {
    margin-bottom: 15px;
}

.favbtndiv {
    margin-bottom: 12px;
}

#contactPage {
    min-height: 650px;
}

#contactPage form {
margin:15px;
background-color: #ecffd7;
border-radius: 15px;
box-shadow: 5px 5px 5px darkslategray;
padding:10px;
max-width:450px;
}

#contactPage form p {
    font-size:1.5em;
}

#contactPage input, 
#contactPage textarea, 
#contactPage select {
margin-bottom: 8px;
border-radius:8px;
}

#contactPage input:hover, 
#contactPage textarea:hover, 
#contactPage select:hover {
    border-color: red;
    border-width: 1.5px;
}

#contactPage input:focus, 
#contactPage textarea:focus, 
#contactPage select:focus {
    background-color:#fefdc5;
}

.coolClass {
    background-color:red;
}

/* bootstrap adjustments */

.container {
    min-width: 65%;
    max-width: 75%;
    background-color: cornsilk;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 8px;
    padding:0px;
}